h3 generate_pay_slip (POST)
form(action="generate_pay_slip", method="post")
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | annual_salary :
    input(type='text', name='annual_salary')
    | super_rate :
    input(type='text', name='super_rate')
    | payment_start_date (MM-DD-YYYY):
    input(type='text', name='payment_start_date')
    | payment_end_date (MM-DD-YYYY) :
    input(type='text', name='payment_end_date')
    input(type='submit', value='submit')
    hr
